extends layouts/main

block content
    .video__player
        video(src=`/${video.fileUrl}`)
    .video__info
        a(href=routes.videoEdit) EDIT VIDEO
        h5.video__title=video.title
        span.video__views=video.views
        p.video__desciption=video.description